.header{
    background-color:#31302a;
    height: 80px;
}

.banner{ 
    background-image: url(/Imagenes/banner.jpg); 
    height: 500px; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    position: relative;
    top: 0;

}

.perfil{
    width: 150px;
    position: absolute;
    margin-top: 430px;
    margin-left: 100px;
}

.titulo{
    text-shadow: 2px 1px #3e3c34; 
    color: #bb8f31;
    font-style: italic;
}

.progreso{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.html {
    border-top: 10px solid rgb(34, 139, 74);
    border-right: 20px solid rgb(34, 139, 74);
    border-bottom: 20px solid rgba(87, 136, 106, 0.323);
    border-left: 10px solid rgb(34, 139, 74);
    animation-name: html;
    animation-duration: 4s;
}

.css {
    border-top: 10px solid rgb(34, 139, 74);
    border-right: 20px solid rgb(34, 139, 74);
    border-bottom: 20px solid rgba(87, 136, 106, 0.323);
    border-left: 10px solid rgb(34, 139, 74);
    animation-name: css;
    animation-duration: 4s;
}

.js {
    border-top: 10px solid rgb(34, 139, 74);
    border-right: 20px solid rgba(87, 136, 106, 0.323);
    border-bottom: 20px solid rgba(87, 136, 106, 0.323);
    border-left: 10px solid rgb(34, 139, 74);
    animation-name: js;
    animation-duration: 3s;
}

.angular {
    border-top: 10px solid rgba(87, 136, 106, 0.323);
    border-right: 20px solid rgba(87, 136, 106, 0.323);
    border-bottom: 20px solid rgba(87, 136, 106, 0.323);
    border-left: 10px solid rgba(87, 136, 106, 0.323);
}

.bootstrap {
    border-top: 10px solid rgb(34, 139, 74);
    border-right: 20px solid rgb(34, 139, 74);
    border-bottom: 20px solid rgb(34, 139, 74);
    border-left: 10px solid rgb(34, 139, 74);
    animation-name: bts;
    animation-duration: 5s;
}

.ingles {
    border-top: 10px solid rgba(87, 136, 106, 0.323);
    border-right: 20px solid rgba(87, 136, 106, 0.323);
    border-bottom: 20px solid rgba(87, 136, 106, 0.323);
    border-left: 10px solid rgb(34, 139, 74);
    animation-name: ingles;
    animation-duration: 2s;
}

@keyframes html{
    0% {
        border-top: 10px solid rgba(87, 136, 106, 0.323);
        border-right: 20px solid rgba(87, 136, 106, 0.323);
        border-bottom: 20px solid rgba(87, 136, 106, 0.323);
        border-left: 10px solid rgba(87, 136, 106, 0.323);
    } 
    25% {
        border-top: 10px solid rgba(87, 136, 106, 0.323);
        border-right: 20px solid rgba(87, 136, 106, 0.323);
        border-bottom: 20px solid rgba(87, 136, 106, 0.323);
        border-left: 10px solid rgb(34, 139, 74);
    } 
    50%{
        border-top: 10px solid rgb(34, 139, 74);
        border-right: 20px solid rgba(87, 136, 106, 0.323);
        border-bottom: 20px solid rgba(87, 136, 106, 0.323);
        border-left: 10px solid rgb(34, 139, 74);
    }
    to {
        border-top: 10px solid rgb(34, 139, 74);
        border-right: 20px solid rgb(34, 139, 74);
        border-bottom: 20px solid rgba(87, 136, 106, 0.323);
        border-left: 10px solid rgb(34, 139, 74);
    }
}

@keyframes css{
    0% {
        border-top: 10px solid rgba(87, 136, 106, 0.323);
        border-right: 20px solid rgba(87, 136, 106, 0.323);
        border-bottom: 20px solid rgba(87, 136, 106, 0.323);
        border-left: 10px solid rgba(87, 136, 106, 0.323);
    } 
    25% {
        border-top: 10px solid rgba(87, 136, 106, 0.323);
        border-right: 20px solid rgba(87, 136, 106, 0.323);
        border-bottom: 20px solid rgba(87, 136, 106, 0.323);
        border-left: 10px solid rgb(34, 139, 74);
    } 
    50%{
        border-top: 10px solid rgb(34, 139, 74);
        border-right: 20px solid rgba(87, 136, 106, 0.323);
        border-bottom: 20px solid rgba(87, 136, 106, 0.323);
        border-left: 10px solid rgb(34, 139, 74);
    }
    to {
        border-top: 10px solid rgb(34, 139, 74);
        border-right: 20px solid rgb(34, 139, 74);
        border-bottom: 20px solid rgba(87, 136, 106, 0.323);
        border-left: 10px solid rgb(34, 139, 74);
    }
}

@keyframes js{
    0% {
        border-top: 10px solid rgba(87, 136, 106, 0.323);
        border-right: 20px solid rgba(87, 136, 106, 0.323);
        border-bottom: 20px solid rgba(87, 136, 106, 0.323);
        border-left: 10px solid rgba(87, 136, 106, 0.323);
    } 
    50% {
        border-top: 10px solid rgba(87, 136, 106, 0.323);
        border-right: 20px solid rgba(87, 136, 106, 0.323);
        border-bottom: 20px solid rgba(87, 136, 106, 0.323);
        border-left: 10px solid rgb(34, 139, 74);
    }
    to {
        border-top: 10px solid rgb(34, 139, 74);
        border-right: 20px solid rgba(87, 136, 106, 0.323);
        border-bottom: 20px solid rgba(87, 136, 106, 0.323);
        border-left: 10px solid rgb(34, 139, 74);
    }
}

@keyframes bts{
    0% {
        border-top: 10px solid rgba(87, 136, 106, 0.323);
        border-right: 20px solid rgba(87, 136, 106, 0.323);
        border-bottom: 20px solid rgba(87, 136, 106, 0.323);
        border-left: 10px solid rgba(87, 136, 106, 0.323);
    } 
    25% {
        border-top: 10px solid rgba(87, 136, 106, 0.323);
        border-right: 20px solid rgba(87, 136, 106, 0.323);
        border-bottom: 20px solid rgba(87, 136, 106, 0.323);
        border-left: 10px solid rgb(34, 139, 74);
    } 
    50%{
        border-top: 10px solid rgb(34, 139, 74);
        border-right: 20px solid rgba(87, 136, 106, 0.323);
        border-bottom: 20px solid rgba(87, 136, 106, 0.323);
        border-left: 10px solid rgb(34, 139, 74);
    }
    75%{
        border-top: 10px solid rgb(34, 139, 74);
        border-right: 20px solid rgb(34, 139, 74);
        border-bottom: 20px solid rgba(87, 136, 106, 0.323);
        border-left: 10px solid rgb(34, 139, 74);
    }
    to {
        border-top: 10px solid rgb(34, 139, 74);
        border-right: 20px solid rgb(34, 139, 74);
        border-bottom: 20px solid rgb(34, 139, 74);
        border-left: 10px solid rgb(34, 139, 74);
    }
}
@keyframes ingles{
    0% {
        border-top: 10px solid rgba(87, 136, 106, 0.323);
        border-right: 20px solid rgba(87, 136, 106, 0.323);
        border-bottom: 20px solid rgba(87, 136, 106, 0.323);
        border-left: 10px solid rgba(87, 136, 106, 0.323);
    } 
    to {
        border-top: 10px solid rgba(87, 136, 106, 0.323);
        border-right: 20px solid rgba(87, 136, 106, 0.323);
        border-bottom: 20px solid rgba(87, 136, 106, 0.323);
        border-left: 10px solid rgb(34, 139, 74);
    }
}
