.banner{ 
    background-image: url(/banner.jpg); 
    height: 500px; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    position: relative;
    top: 0;

}

.perfil{
    width: 150px;
    position: absolute;
    margin-top: 430px;
    margin-left: 100px;
}

.titulo{
    text-shadow: 2px 1px #3e3c34; 
    color: #bb8f31;
    font-style: italic;
}